* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mob_nav {
    display: none;
}

nav {
    width: 100%;
    height: 64px;
    background-color: rgb(245, 245, 247);
    display: flex;
    justify-content: space-between;
}

nav .logo {
    margin-left: 24px;
}

nav .logo h1 {
    height: 32px;
    margin: 0;
    display: inline;
    margin-left: 0;
    font-size: 14px;
}

nav .logo img {
    height: 40px;
    margin-left: 32px;
    position: relative;
    top: 17px;
    left: 7px;
}

nav ul {
    list-style-type: none;
    margin-right: 24px;
}

nav ul li {
    padding: 16px;
    display: inline-block;
}

header {
    background-color: rgb(215, 214, 214);
    display: flex;
}

header img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

header .content {
    margin: auto;
}

header .content button {
    width: 100%;
    padding: 8px 0;
    background-color: rgb(108, 106, 106);
}

main {
    display: flex;
}

.mobile {
    display: none;
}

main .right_info {
    width: 60%;
    margin: 32px 24px;
}

main .right_info img {
    width: 100%;
}

main .right_info .info_content h1 {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
}

main .left_info {
    width: 40%;
    margin-top: 32px;
    margin-bottom: 32px;
}

main .left_info img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}

.info_text {
    width: 65%;
    padding: 8px;
    color: gray;
}

.info_flex {
    display: flex;
}

section {
    background-color: grey;
}

section h3 {
    text-align: center;
    padding: 32px;
}

section .cards {
    margin: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section .cards .first_card {
    margin-left: 32px;
    flex: 0 1 30%;
    margin-bottom: 32px;
    background-color: rgb(237, 233, 233);
}

section .cards img {
    width: 100%;
    height: auto;
}

.card_text {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 8px;
}

@media only screen and (max-width:680px) {
    nav {
        display: none;
    }
    .mob_nav {
        height: 64px;
        width: auto;
        display: inline;
        background-color: rgb(245, 245, 247);
    }
    .mob_nav ul li {
        list-style-type: none;
        padding: 15px;
        margin: 10px;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        width: 100%;
        margin: 0;
    }
    header .content {
        margin-left: 16px;
    }
    header .content h1 {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    header .content p {
        margin-top: 24px;
        margin-bottom: 32px;
    }
    header .content button {
        margin-bottom: 32px;
    }
    main .right_info,
    .desktop {
        display: none;
    }
    main .left_info {
        width: 100%;
    }
    main .mobile {
        display: inline;
    }
    main .left_info img {
        width: auto;
    }
    .info_flex {
        display: flex;
        flex-direction: column;
        margin: 16px 0 16px 16px;
    }
    .info_text {
        margin-left: 16px;
        font-size: 12px;
    }
}